
.site-header {
    margin-top: 20px;

    a {
       margin-left: 20px;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
  }
  
  .thank-you-message {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .success-icon {
    width: 100px;
    height: auto;
  }
  

  @media (min-width: 768px) {
    .thank-you-message {
      font-size: 2em;
    }
  
    .success-icon {
      max-width: 50%;
    }
  }
  